body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #331E36;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #41337A;
  height: 800px;
  width: 1400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar {
  border-bottom: 1px solid #41337A;
  height: 75px;
}

.kanbanContainer {
  /* border: 1px solid #41337A; */
  font-weight: bold;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.kanbanContainer .column1 {
  padding: 10px 10px;
  height: 100%;
  width: 25%;
  border-right: 1px solid #41337A;
  overflow-y: scroll;
}

.kanbanContainer .column2 {
  padding: 10px 10px;
  height: 100%;
  width: 25%;
  border-right: 1px solid #41337A;
}

.kanbanContainer .column3 {
  padding: 10px 10px;
  height: 100%;
  width: 25%;
  border-right: 1px solid #41337A;
}

.kanbanContainer .column4 {
  padding: 10px 10px;
  height: 100%;
  width: 25%;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
}

.fa-plus {
  border-radius: 50%;
  padding: 10px;
  background-color: #6EA4BF;
  height: 36px;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.fa-plus:hover {
  transform: scale(1.3);
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  margin: 25px 10px 0 10px;
  gap: 15px;
  padding-bottom: 10px;

}

#tasks div {
  border-radius: 10px;
  border: 1px solid #ECFEE8;
  background-color: #41337A;
  opacity: 0.8;
  display: grid;
  gap: 5px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#tasks div p {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
}

#tasks div .btnOptions {
  display: flex;
  justify-self: center;
  gap: 15px;
  font-size: 16px;

}

#tasks div .btnOptions i {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#tasks div .btnOptions i:hover {
  transform: scale(1.5);
}

.date {
  margin-top: -10px;
}

.leftSide {
  width: 75%;

}

.rightSide {

  border-left: 2px solid #41337A;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: #331E36;
}

::-webkit-scrollbar-thumb {
  background-color: #41337A;
}